/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

        behaviors {
                hm: homerow_mods {
                        compatible = "zmk,behavior-hold-tap";
                        label = "HOMEROW_MODS";
                        #binding-cells = <2>;
                        tapping-term-ms = <150>;
                        quick_tap_ms = <0>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
   &none &none &kp Q      &kp W      &kp F       &kp P       &kp B     &kp J &kp L       &kp U       &kp Y      &kp SQT    &none &none
         &none &hm LWIN A &hm LALT R &hm LCTRL S &hm LSHFT T &kp G     &kp M &hm RSHFT N &hm RCTRL E &hm LALT I &hm RWIN O &none
         &none &kp Z      &kp X      &kp C       &kp D       &kp V     &kp K &kp H       &kp COMMA   &kp DOT    &kp FSLH   &none
                                     &lt 2 ESC &kp SPACE &lt 1 TAB     &lt 1 RET &kp BSPC &lt 2 DEL
                        >;
                };

                nums {
                        bindings = <
   &none &none &none    &none  &none    &none    &kp UNDER     &kp EQUAL &none    &none    &none    &none    &none &none
         &none &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT     &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR &none
         &none &kp N1   &kp N2 &kp N3   &kp N4   &kp N5        &kp N6    &kp N7   &kp N8   &kp N9   &kp N0   &none
                                         &none &none &none     &none &none &none
                        >;
                };
                rst {
                        bindings = <
   &none &none &none    &none  &none    &none    &none     &none &none    &none    &none    &none    &none &none
         &none &none &none &none &none &bootloader     &bootloader &none &none &none &none &none
         &none &none   &none &none   &none   &none        &none    &none   &none   &none   &none   &none
                                         &none &none &none     &none &none &none
                        >;
                };
        };
};
